* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #563f0e;
  color: #fff;
  /* z-index: 9999; */
}



.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}


.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #bbe9f2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}


.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #563f0e;
}

.services:hover .dropdown {
  display: block;
}



input[type=checkbox] {
  display: none;
} 


.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  /* z-index: 9999; */
}


@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:#563f0e;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 999;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#bbe9f2;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #bbe9f2;
  }
}

.Banner {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Banner img {
  display: flex;
  width: 100%;
}

.Banner h1 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  top: 20vw;
  font-weight: bold;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Banner a {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75vw;
  top: 30vw;
  font-weight: bold;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Banner button {
  position: fixed;
  display: flex;
  padding: 1vw;
  width: 17vw;
  font-size: 1.5vw;
  justify-content: center;
  border-radius: 20px;
  background-color: #317058;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  color: yellow;
  top: 37vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Banner button:hover {
  background-color: #8eb676;
  color: black;
}

.New {
  position: absolute;
  display: flex;
  background-color: #fafad0;
  border-radius: 10px;
  top: 55vw;
  bottom: 20vw;
  width: 100%;
  height: 25vw;
  opacity: 0.99;
  
}

.New h3{
  font-size: 2vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  color:#317058
}

.newimg{
  position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;
    height: 25vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.newimg img{
  display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    height: 50%;
}

.Popular {
  position: absolute;
  display: flex;
  background-color: #fee379;
  border-radius: 10px;
  top: 25vw;
  bottom: 20vw;
  width: 100%;
  height: 25vw;
  opacity: 0.99;
  
}

.Popular h3{
  font-size: 2vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;

  color:#317058
}

.popimg{
  position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;
    height: 25vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.popimg img{
  display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    height: 50%;
}
